.items {
	margin: 2rem auto;
	width: 90%;
	max-width: 40rem;
}
.balance {
	margin: 5rem auto;
	width: 30%;
	max-width: 20rem;
	padding: 1px;
	background-color: tomato;
}
.balance p {
	font-size: xx-large;
	color: white;
}

.items ul {
	list-style: none;
	padding: 1rem;
}

.items li {
	border: 1px solid #ccc;
	margin: 0.5rem 0;
	padding: 0.5rem;
}
